# Ignore compiled JavaScript and CSS
#-----------------------------------
!Gruntfile.js
!src/lib/**/*.js
!src/config/validate.js
*.map
*.css

# Build folder
#-----------------------------------
build/*
build.zip
build-firefox/*
build-firefox.zip


# IDE and editor configs
.idea/
.vscode/
